* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    margin: 0px;
}

.header {
    background-color: rgb(34, 34, 34);
    float: left;
    width: 100%;
    padding: 8px;
}

.logoImage {
    background-color: white; 
    border-radius: 1000px;
    margin-left: 23px;
    margin-top: 5px;
    vertical-align: middle;
}

.serchInput {
    border-radius: 7px; 
    width: 220px; 
    height: 25px;
    margin-left: 20px;
    display: inline-block;
}

.headerMenu {
    display: inline-block;
}

.headerMenuItem {
    color: white;
    display: inline-block;
    margin-left: 20px;
}

.headerMenuItem:hover {
    color: rgb(202, 202, 202);
    cursor: pointer;
}

.nav {
    padding: 1px;
    padding-left: 420px;
    padding-right: 420px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(102, 102, 102);
    text-align: center;
    display: flex;
}

.navItem {
    color: white;
    display: inline-block;
    margin-top: 40px;
    font-size: 15px;
    flex: 1;
}

.navItem:hover {
    color: rgb(202, 202, 202);
    cursor: pointer;
}

.navMenuLogo {
    width: 25px;
    vertical-align: middle;
    background-color: white;
    border-radius: 5px;
}

.aside {
    float: left;
    width: 20%;
    margin-left: 120px;
}

.profileLogo {
    float: left;
    width: 100%;
}

.profileText {
    float: left;
    color: rgb(92, 92, 92);
    font-size: 23px;
    margin-top: 20px;
}

.profileButton {
    float: left;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.article {
    float: left;
    border: solid 1px rgb(102, 102, 102);
    border-radius: 10px;
    width: 60%;
    height: 520px;
    margin-top: 40px;
    margin-left: 30px;
    color: white;
    padding: 23px;
}