* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    margin: 0px;
}

.header {
    background-color: rgb(34, 34, 34);
    float: left;
    width: 100%;
    padding: 8px;
}

.logoImage {
    background-color: white; 
    border-radius: 1000px;
    margin-left: 23px;
    margin-top: 5px;
    vertical-align: middle;
}

.serchInput {
    border-radius: 7px; 
    width: 220px; 
    height: 25px;
    margin-left: 20px;
    display: inline-block;
}

.headerMenu {
    display: inline-block;
}

.headerMenuItem {
    color: white;
    display: inline-block;
    margin-left: 20px;
}

.headerMenuItem:hover {
    color: rgb(202, 202, 202);
    cursor: pointer;
}

.nav {
    padding: 1px;
    text-align: center;
    display: flex;
}

.navItem {
    color: white;
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 16px;
    flex: 1;
}

.navItem:hover {
    color: rgb(202, 202, 202);
    cursor: pointer;
}

.navMenuLogo {
    width: 5%;
    vertical-align: middle;
    background-color: white;
    border-radius: 5px;
}