body {
  box-sizing: border-box;
  background-color: gainsboro;
  text-align: center;
  padding: 20px;
}

.container {
  border: 3px solid forestgreen;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.div1 {
  border: 3px solid coral;
  flex: 1;
  border-radius: 20px;
}

.div2 {
  border: 3px solid cornflowerblue;
  flex: 1;
}

.div3 {
  border: 3px solid deeppink;
}

.div4 {
  border: 3px solid deepskyblue;
  border-radius: 20px;
}
